<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846057365263-5e3fuh0nkvsmi0jr46jplqloip70s17m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846057365263-5e3fuh0nkvsmi0jr46jplqloip70s17m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>846057365263-a6rp18callou6pu6q4jppp1t1vh4lkr4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbeIJ08sB2YtZZginl_oy2-Y2JtFeY7ac</string>
	<key>GCM_SENDER_ID</key>
	<string>846057365263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SeeU.SeeUClient</string>
	<key>PROJECT_ID</key>
	<string>seeu-asia</string>
	<key>STORAGE_BUCKET</key>
	<string>seeu-asia.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846057365263:ios:ce777af0e7fa00f8a7a87a</string>
</dict>
</plist>